* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: #3a4452;
    border-radius: 11px;
    padding: 7px;
}

.container form input{
    border: none;
    color: white;
    width: 60px;
    font-weight: bold;
    height: 60px;
    background-color: transparent;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 10px;
    transition: ease 0.1s;
    border-radius: 20px;
    

}

.container form input:active{
    box-shadow: none;
}

.container form input:hover{
    background-color: hsl(215, 10%, 20%);
}

#equal {
    width: 141px;
}

#display {
    display: flex;    
    justify-content: flex-end;
    text-align: right;
    width: 90%;
    margin: 15px 0px;
    cursor:text;
    box-shadow: none;    
    font-size: 24px;

}

.symbol {
    box-shadow: none !important;    
    border-radius: 30px !important;
    background-color: rgb(254, 159, 26) !important;

}